# --- Docker compose project name
COMPOSE_PROJECT_NAME=ticketmanager

# TicketManager - example environment file
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

# Database connection settings
POSTGRES_USER=ticketmanager_user
POSTGRES_PASSWORD=ticketmanager_password
POSTGRES_DB=ticketmanager_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# --- EF connection string 
# (Docker internal network)
DB_CONNECTION=Host=${POSTGRES_HOST};Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}